* {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 405px;
  box-sizing: border-box;
}
.landing {
  background-image: url(./assets/bgc.png);
  width: 1920px;
  height: 900px;
}
.adress {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  padding: 30px 0px 20px 0px;
}
.adress-conter {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #ffffff;
}
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1110px;
  height: 46px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.color {
  color: white;
  text-decoration: none;
}
.frame {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 583px 347px 150px 347px;

  width: 415px;
  height: 50px;
}

.frame1 {
  display: flex;
  justify-content: center;
  width: 203px;
  height: 50px;
  background: #998431;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}
.frame2 {
  display: flex;
  justify-content: center;
  width: 182px;
  height: 50px;
  background: #998431;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}

.center {
  background-image: url(/assets/bgc2.png);
  width: 1920px;
  height: 856px;
}
.wrapper2 {
  margin: 0px 405px 0px;
  box-sizing: border-box;
  padding-top: 100px;
}

.border {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1110px;
  height: 656px;
  border: 3px solid #c4c4c4;
}

.text1 {
  font-family: Playfair Display;
  font-size: 36px;
  line-height: 150%;
  color: #ffffff;
  margin: 60px 187px 0px 187px;
}
.line {
  width: 160px;
  height: 0px;
  border: 1px solid #ffffff;
  margin: 40px 880px 0px 880px;
}
.text2 {
  font-family: Montserrat;
  font-weight: 400;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  width: 733px;
  height: 192px;
  margin: 40px 0px 0px 0px;
}
.glass {
  width: 160px;
  height: 160px;
  margin: 50px 0px 0px 0px;
}
.collection {
  width: 1920px;
  height: 1038px;
  background-color: #e6e3c4;
  padding: 80px 0;
}
.collection-content {
  width: 1100px;
  height: 878px;
  border-top: 1px solid #998431;
  border-bottom: 1px solid #998431;
  box-sizing: border-box;
}
.row-conteiner {
  display: flex;
  width: 100%;
  height: 758px;
  margin: 60px 0;
  justify-content: space-between;
}
.collection-column {
  display: flex;
  flex-direction: column;
  width: 445px;
  justify-content: space-between;
  height: 100%;
}

.collection-pictures {
  width: 540px;
}

.column-subtitle {
  line-height: 150%;
}

.column-title {
  font-family: Playfair Display;
  font-size: 36px;
  line-height: 150%;
  color: #282828;
  text-align: start;
  width: 298px;
}

.column-text {
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
}

.subcolumn {
  display: flex;
  flex-direction: column;
}

.subrow {
  display: flex;
  border-bottom: 1px solid #282828;
}
.subrow:last-child {
  border-bottom: none;
}
.first-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 73px;
  border-right: 1px solid #282828;
}

.second-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 30px;
  box-sizing: border-box;
}

.cell-tittle {
  font-family: Playfair Display;
  font-size: 18px;
  line-height: 150%;
  color: #282828;
  font-weight: 800;
  
}

.cell-content {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #282828;
}
.frame3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 415px;
  height: 50px;
}

.frame4 {
  display: flex;
  justify-content: center;
  width: 203px;
  height: 50px;
  background: #998431;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}
